description "Tomcat Server"

  start on runlevel [2345]
  stop on runlevel [!2345]
  respawn
  respawn limit 10 5

  setuid tomcat
  setgid tomcat

  env JAVA_HOME=<%=node['apache-tomcat']['java_home']%>
  env CATALINA_HOME=<%=node['apache-tomcat']['home_dir']%>

  # Modify these options as needed
  env JAVA_OPTS="<%=node['apache-tomcat']['java_opts']%>"
  env CATALINA_OPTS="<%=node['apache-tomcat']['catalina_opts']%>"

  exec $CATALINA_HOME/bin/catalina.sh run

  # cleanup temp directory after stop
  post-stop script
    rm -rf $CATALINA_HOME/temp/*
  end script
